  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-4 fixed-left ms-4" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute right-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="/admin">
        <img src="/static/assets/img/quiz.png" class="navbar-brand-img h-100 w-15" alt="...">
        <span class="ms-1 font-weight-bold">Quiz System</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item mb-1">
                <a class="nav-link {% if 'web' in segment %} active {% endif %}" href="/admin">
                    <div class="icon icon-shape icon-xs shadow border-radius-sm
                    bg-gradient-light text-center me-2 d-flex align-items-center justify-content-center">
                        <img {% if 'web' in segment %} style="filter:brightness(0) invert(1);" {% endif %}
                                                         src="/static/assets/img/icons/dashboard.svg"
                                                         alt="Kiwi standing on oval">
                    </div>
                    <span class="nav-link-text ms-1">Dashboard</span>
                </a>
            </li>
            <li class="nav-item mt-3">
                <h6 class="ps-4 text-uppercase text-xs font-weight-bolder opacity-6">Users</h6>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link {% if 'users' in segment %} active {% endif %} " href="/admin/users/">
                    <div class="icon icon-shape icon-xs shadow border-radius-sm
                     bg-gradient-light text-center me-2 d-flex align-items-center justify-content-center">
                        <img {% if 'users' in segment %} style="filter:brightness(0) invert(1);" {% endif %}
                                                           src="/static/assets/img/icons/users.svg"
                                                           alt="Kiwi standing on oval">
                    </div>
                    <span class="nav-link-text ms-1">Users</span>
                </a>
            </li>
            <li class="nav-item mt-3">
                <h6 class="ps-4 text-uppercase text-xs font-weight-bolder opacity-6">Category</h6>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link {% if 'categories' in segment %} active {% endif %} " href="/admin/categories/">
                    <div class="icon icon-shape icon-xs shadow border-radius-sm
                    bg-gradient-light text-center me-2 d-flex align-items-center justify-content-center">
                        <img {% if 'categories' in segment %} style="filter:brightness(0) invert(1);" {% endif %}
                                                             src="/static/assets/img/icons/category.svg"
                                                             alt="Kiwi standing on oval">
                    </div>
                    <span class="nav-link-text ms-1">Categories</span>
                </a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link {% if 'questions' in segment %} active {% endif %} " href="/admin/questions/">
                    <div class="icon icon-shape icon-xs shadow border-radius-sm
                     bg-gradient-light text-center me-2 d-flex align-items-center justify-content-center">
                        <img {% if 'questions' in segment %} style="filter:brightness(0) invert(1);" {% endif %}
                                                          src="/static/assets/img/icons/question.svg"
                                                          alt="Kiwi standing on oval">
                    </div>
                    <span class="nav-link-text ms-1">Questions</span>
                </a>
            </li>
        </ul>
    </div>
  </aside>
