{% extends 'layouts/../layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="row my-4">
            <h6 style="direction: rtl">Questions</h6>
            <div class="card mb-3">
                <div class="row">
                    <div class="mt-3" style="direction: rtl;">
                        <button class="btn bg-gradient-success" onclick=" $('#create_question_modal').modal('show');">
                            create
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="table-responsive pb-lg-7">
                    <table class="table align-items-center mb-0">
                        <thead>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                            Description
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                            Choice 1
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                            Choice 2
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                            Choice 3
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                            Choice 4
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            Category
                        </th>
                        <th class="text-secondary opacity-7"></th>
                        </thead>
                        <tbody>
                        {% for item in page_obj %}
                            <tr>
                                <td>
                                    <span class="text-xs font-weight-bold m-lg-3 mb-0">{{ item.id }}</span>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{ item.description }}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{ item.choice_1 }}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{ item.choice_2 }}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{ item.choice_3 }}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{ item.choice_4 }}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{ item.category.name }}</p>
                                </td>
                                <td class="flex-box">
                                    <a class="m-1 fa fa-pen"
                                       onclick="update_action('{{ item.id }}','{{ item.description }}','{{ item.choice_1 }}','{{ item.choice_2 }}','{{ item.choice_3 }}','{{ item.choice_4 }}','{{ item.category.id }}','{{ item.answer_number }}')"
                                       href="javascript:"></a>
                                    <a class="m-1 fa fa-trash" onclick="delete_action({{ item.id }})"
                                       href="javascript:"></a>
                                    <form method="post" action="/admin/questions/delete/" id="formdel_{{ item.id }}">
                                        {% csrf_token %}
                                        <input hidden name="id" value="{{ item.id }}">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include "includes/../includes/pagination-bar.html" %}
        {% include "includes/../includes/footer.html" %}
        {% include "questions/modals.html" %}
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
        function update_action(id, description, choice_1, choice_2, choice_3, choice_4, category_id, answer_number) {
            console.log(answer_number)
            $('#question_id').val(id);
            $("#category_id").val(category_id).change();
            $("#answer_number").val(answer_number).change();
            $('#description').val(description);
            $('#choice_1').val(choice_1);
            $('#choice_2').val(choice_2);
            $('#choice_3').val(choice_3);
            $('#choice_4').val(choice_4);
            $('#update_question_modal').modal('show');
        }

        function delete_action(id) {
            $("#confirm_" + delete_object_modal()).click(function (e) {
                console.log('asd')
                $("#formdel_" + id).submit();
            });
        }
    </script>
{% endblock javascripts %}
