<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Creative - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap Icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/assets/index/css/styles.css" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">Quiz System</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Categories</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;" id="status_login_nav">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">A way to learn</h1>
                <hr class="divider"/>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">
A quiz system is a software application for taking quizzes and tests on various subjects and topics.</p>
                <a class="btn btn-primary btn-xl" href="#portfolio">Wanna try a Quiz ?</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Brief Introduction</h2>
                <hr class="divider divider-light"/>
                <p class="text-white-75 mb-4">A quiz system is a type of software that allows users to take quizzes, you can create
                    categories for each group of questions and the users can submit their answers.</p>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">At Your Service</h2>
        <hr class="divider"/>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">User interface</h3>
                    <p class="text-muted mb-0">Allows users to interact with the system </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Quiz engine</h3>
                    <p class="text-muted mb-0">It selects questions from the database, checks the user's answers, and calculates the score.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Results and analytics</h3>
                    <p class="text-muted mb-0">The system can display the user's quiz results, including the score and time taken for the quiz</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-hand-index fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Administration</h3>
                    <p class="text-muted mb-0">Admin module centralizes and simplifies quiz system management tasks.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to action-->
<section class="bg-dark text-white" style="padding: 2rem 5rem 1rem;">
    <div class="container text-center">
        <h2 class="mb-4">Categories</h2>
    </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            {% for cat in categories %}
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" style="cursor: pointer;" xhref="/quiz/{{ cat.id }}" title="Project Name">
                    <img class="img-fluid" src="/static/assets/index/assets/img/category.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">{{ cat.name }}</div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<!-- Contact-->
<section class="page-section bg-dark " id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0 text-white ">Let's Get In Touch!</h2>
                <hr class="divider"/>
                <p class="text-muted mb-5">Send us a messages and we will get
                    back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form id="contactForm">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                               data-sb-validations="required"/>
                        <label for="name">Full name</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com"
                               data-sb-validations="required,email"/>
                        <label for="email">Email address</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890"
                               data-sb-validations="required"/>
                        <label for="phone">Phone number</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.
                        </div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..."
                                  style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Message</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                    <!-- Submit Button-->
                    <div class="d-grid">
                        <button class="btn btn-primary btn-xl" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <i class="bi-phone fs-2 mb-3 text-muted"></i>
                <div>+1 (555) 123-4567</div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">Copyright &copy; 2022 - Quiz System</div>
    </div>
</footer>
<div id=_modal></div>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="/static/assets/index/js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<script src="/static/assets/js/app/config.js"></script>
{% include "includes/../includes/scripts.html" %}
<script>
    tokenStatus = checkTokenExistance()
    if (tokenStatus) {
        $.ajax(web.server + "/api/user/", {
            type: 'GET',  // http method
            contentType: "application/json",
            headers: {
                "Authorization": 'Bearer ' + readCookie("token")
            },
            success: function (data, status, xhr) {
                $("#status_login_nav").text('Logout')
            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log('status: ' + textStatus + ', data: ' + errorMessage);
            }
        });
    }
    $("#status_login_nav").on("click", function () {
        if (tokenStatus) {
            writeCookie("token", "")
            window.location.replace("/");
        } else {
            window.location.replace("/login");
        }
    });
    $(".portfolio-box").on("click", function () {
        if (tokenStatus) {
            window.location.replace($(this).attr("xhref"));
        } else {
            window.location.replace("/login");
        }
    });
    $("#contactForm").submit("click", function (event) {
        event.preventDefault();
        $.ajax(web.server + "/api/message/", {
            type: 'post',  // http method
            contentType: "application/json",
            data: JSON.stringify({
                "full_name": $("#name").val(),
                "email": $("#email").val(),
                "phone_number": $("#phone").val(),
                "message": $("#message").val()
            }),
            success: function (data, status, xhr) {
                view_info_modal("Successfully submitted, we will contact soon.");
            },
            error: function (jqXhr, textStatus, errorMessage) {
                view_info_modal("Successfully submitted, we will contact soon.");
            }
        });
    });
</script>
</body>
</html>
