<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">

    <style>

        .bg-primary {
            background-color: #C44F2F !important;
        }

        .border-primary {
            border-color: #C44F2F !important;
        }

        .jst-hours {
            float: left;
        }

        .jst-minutes {
            float: left;
        }

        .jst-seconds {
            float: left;
        }

        .jst-clearDiv {
            clear: both;
        }

    </style>

</head>

<body translate="no">
<div class="container-fluid">
    <div class="jumbotron" style="padding:30px; margin-top: 10px; background: #454A4F">
        <div class="d-flex justify-content-between">
            <div>
                <h3 class="text-white">{{ category.name }} Quiz</h3>
                <p class="text-white">{{ category.description }}</p>
            </div>
            <div style="width: 200px">
                <h1 class='timer text-white' data-minutes-left=10></h1>
            </div>
        </div>

    </div>
    {% for q in questions %}
        <div class="card border-primary mb-4 ">
            <div class="d-flex justify-content-between align-items-center card-header bg-primary text-white"
                 id="h{{ q.id }}">
                <span>Question {{ forloop.counter }}</span>
                <button type="button" data-toggle="collapse" data-target="#q{{ q.id }}" aria-expanded="false"
                        aria-controls="q1"
                        class="btn btn-outline-light">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                    </svg>
                </button>
            </div>
            <div id="q{{ q.id }}" class="collapse show" aria-labelledby="h{{ q.id }}">
                <div class="card-body">
                    <p>{{ q.description }}</p>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q{{ q.id }}" id="q{{ q.id }}_r1">
                        <label class="form-check-label" for="q{{ q.id }}_r1">
                            {{ q.choice_1 }}
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q{{ q.id }}" id="q{{ q.id }}_r2">
                        <label class="form-check-label" for="q{{ q.id }}_r2">
                            {{ q.choice_2 }}
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q{{ q.id }}" id="q{{ q.id }}_r3">
                        <label class="form-check-label" for="q{{ q.id }}_r3">
                            {{ q.choice_3 }}
                        </label>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}


    <div class="jumbotron" style="padding:30px; margin-top: 10px; background: #454A4F">
        <div class="d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-success" style="font-size: 17px; width: 200px; height: 45px;">
                <b>Submit</b>
            </button>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/assets/js/plugins/jquery.simple.timer.js"></script>
</body>

<script>
    $(function () {
        $('.timer').startTimer({
            onComplete: function (element) {
                $('html, body').addClass('bodyTimeoutBackground');
            }
        })
    })

</script>
</html>